langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-mistralai

mistralai

chromadb

sentence-transformers>=3.0.0
transformers
torch

python-dotenv
pypdf
unstructured
tiktoken

fastapi
uvicorn

pandas
numpy
requests
tqdm
nltk